
## На продакшене обязательно изменить пароли!!!

##########################################
###              PROJECT               ###
##########################################
COMPOSE_PROJECT_NAME=nindeco
## If you change DOMAIN then you need change property $config['username_domain'] in roundcube a config file ./services/roundcube/config/config.php
DOMAIN=nindeco.com
DOCKER_SOCK=/var/run/docker.sock
DOCKER_BIN=/usr/bin/docker
TZ=Europe/Moscow
##########################################
###               NGINX                ###
##########################################
NGINX_CONTAINER_NAME=nginx
NGINX_TAG_VERSION=latest
NGINX_CONFIG_PATH=./services/nginx/config
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
##########################################
###                LDAP                ###
##########################################
LDAP_CONTAINER_NAME=ldap
LDAP_TAG_VERSION=latest
LDAP_ORGANISATION=nindeco
LDAP_HOSTNAME=ldapserver
LDAP_ADMIN_PASSWORD=defender
LDAP_BACKUP_CONFIG_CRON_EXP=0 5 * * *
LDAP_BACKUP_DATA_CRON_EXP=0 4 * * *
LDAP_BACKUP_TTL=15
LDAP_REMOVE_CONFIG_AFTER_SETUP=false
##########################################
###             LDAP-CLIENT            ###
##########################################
LDAP_CLIENT_TAG_VERSION=latest
LDAP_CLIENT_CONTAINER_NAME=ldap-client
LDAP_CLIENT_HOSTNAME=ldap
LDAP_CLIENT_EXPOSE=443
##########################################
###                MYSQL               ###
##########################################
MYSQL_CONTAINER_NAME=mysql
MYSQL_TAG_VERSION=5.7
MYSQL_DATABASE=redmine
MYSQL_HOSTNAME=mysqlserver
MYSQL_USER=root
MYSQL_ROOT_PASSWORD=defender
MYSQL_DUMP_PATH=./services/mysql/dumps
MYSQL_CONF_PATH=./services/mysql/config
MYSQL_DUMP_NAME=redmine.sql.gz
##########################################
###             PHPMYADMIN             ###
##########################################
PHPMYADMIN_TAG_VERSION=latest
PHPMYADMIN_CONTAINER_NAME=phpmyadmin
PHPMYADMIN_HOSTNAME=myadmin
##########################################
###               REDMINE              ###
##########################################
REDMINE_CONTAINER_NAME=redmine
REDMINE_DATA_PATH=./services/redmine/data
REDMINE_PLUGINS_PATH=./services/redmine/plugins
REDMINE_HOSTNAME=task
REDMINE_TAG_VERSION=3.4.6
REDMINE_CONFIGURATION_FILE_PATH=./services/redmine/config/configuration.yml
REDMINE_THEMES_PATH=./services/redmine/themes
##########################################
###              GITLAB                ###
##########################################
GITLAB_CONTAINER_NAME=gitlab
GITLAB_HOSTNAME=git
GITLAB_TAG_VERSION=latest
GITLAB_LDAP_CONFIG_PATH=./services/gitlab/config/gitlab.rb
GITLAB_REPO_PATH=./services/gitlab/repositories
GITLAB_LOGS_PATH=./logs/gitlab
GITLAB_EXPOSE=80
GITLAB_SSH_PORT=2289
##########################################
###                BIND                ###
##########################################
BIND_CONTAINER_NAME=bind
BIND_HOSTNAME=bind
BIND_TAG_VERSION=latest
BIND_EXPOSE=53
BIND_WEDMIN_EXPOSE=10000
ROOT_PASSWORD=defender
#########################################################
###                       MAIL                        ###
#########################################################
###                  DOCUMENTATION                    ###
###  See wiki:                                        ###  
###  https://github.com/tomav/docker-mailserver/wiki  ###
###                                                   ###
#########################################################
MAIL_CONTAINER_NAME=mail
MAIL_HOSTNAME=mail
MAIL_TAG_VERSION=latest
MAIL_DATA_PATH=./services/mail/data
ENABLE_SPAMASSASSIN=1
ENABLE_CLAMAV=1
ENABLE_FAIL2BAN=1
ENABLE_POSTGREY=1
ENABLE_SASLAUTHD=1
ENABLE_LDAP=1
SPOOF_PROTECTION=1
ONE_DIR=1
DMS_DEBUG=0
SA_SPAM_SUBJECT=*** SPAM ***
LDAP_SEARCH_BASE=dc=nindeco,dc=com
LDAP_BIND_DN=uid=mail,ou=services,dc=nindeco,dc=com
LDAP_BIND_PW=defender
LDAP_QUERY_FILTER_USER=(mail=%u@%d)
LDAP_QUERY_FILTER_GROUP=(&(mail=%u@%d)(objectClass=mailGroup))
LDAP_QUERY_FILTER_ALIAS=(|(mail=%u@%d)(postfixMailAlias=%u@%d))
LDAP_QUERY_FILTER_DOMAIN=(|(mail=%u@%d)(postfixMailAlias=%u@%d))
DOVECOT_PASS_FILTER=(&(|(uid=%n)(mail=%n@%d)(postfixMailAlias=%n@%d))(objectClass=PostfixBookMailAccount))
DOVECOT_PASS_ATTRS=userPassword=password
DOVECOT_USER_FILTER=(&(|(uid=%n)(mail=%n@%d)(postfixMailAlias=%n@%d))(|(&(objectClass=PostfixBookMailAccount)(mailEnabled=TRUE))(objectClass=mailGroup)))

DOVECOT_USER_ATTRS=mailUidNumber=uid,mailGidNumber=gid,mail=user,homeDirectory=home
# user - полное имя пользователя, значение получает из LDAP поля mail
# user делится на 2 переменные %d и %n
# %d - это домен, то что написано после '@'
# %n - это имя, то что написано до '@'
# Из этого строится путь папки пользователя maildir:/var/mail/%d/%n
# Например, %d = example.com
#           %n = test
# Путь до папки maildir:/var/mail/example.com/test

SASLAUTHD_PASSWD=defender
SASLAUTHD_MECHANISMS=ldap
SASLAUTHD_LDAP_SEARCH_BASE=dc=nindeco,dc=com
SASLAUTHD_LDAP_BIND_DN=uid=mail,ou=services,dc=nindeco,dc=com
SASLAUTHD_LDAP_PASSWORD=defender
SASLAUTHD_LDAP_FILTER=(&(|(uid=%u)(mail=%u@%d)(postfixMailAlias=%n@%d))(|(&(objectClass=PostfixBookMailAccount)(mailEnabled=TRUE))(objectClass=mailGroup)))
SSL_TYPE=letsencrypt
PERMIT_DOCKER=network
##########################################
###              ROUNDCUBE             ###
##########################################
ROUNDCUBEMAIL_CONTAINER_NAME=roundcube
ROUNDCUBEMAIL_HOSTNAME=mail
ROUNDCUBEMAIL_TAG_VERSION=elastic
ROUNDCUBEMAIL_DB_NAME=roundcube
ROUNDCUBEMAIL_CONFIG_PATH=./services/roundcube/config
##########################################
###                CLOUD               ###
##########################################
NEXTCLOUD_TAG_VERSION=13.0.5-fpm
NEXTCLOUD_CONTAINER_NAME=cloud
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=defender
NEXTCLOUD_MYSQL_DATABASE=nextcloud
##########################################
###            LETSENCRYPT             ###
##########################################
LETSENCRYPT_TAG_VERSION=latest
LETSENCRYPT_CONTAINER_NAME=letsencrypt
##########################################
###             NGINXPROXY             ###
##########################################
NGINXPROXY_CONTAINER_NAME=nginxproxy
NGINXPROXY_TAG_VERSION=latest
NGINXPROXY_CUSTOM_CONF_PATH=./services/nginxproxy/my_custom_proxy_settings.conf
##########################################
###              REGISTRY             ###
##########################################
